* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    margin: 0 auto;
}
nav {
    background-color:rgb(255, 97, 24) ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer {
    background-color: rgb(26, 26, 26);
}
ul {
    display: flex;
    list-style: none;
}
li {
    padding: 10px;
}
.img-logo {
    height: 25px;
}
.discount {
    width: max-content;
    background-color: red;
    padding: 5px;
    position: absolute;
    bottom: 90px;
    left: 0px;
}
.feature {
    width: max-content;
    background-color: green;
    padding: 5px;
    position: absolute;
    bottom: 90px;
    left: 50px;
}
.heart {
    color: red;
    padding: 5px;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
}
.price {
    color: red;
}
.line-through {
    text-decoration: line-through;
    color: black;
    padding: 10px;
}
.card img {
    width: 100%;
    object-fit: cover;       
}
.container {
    max-width: 920px;
    margin: 0 auto;
    padding-top: 20px;
    
}
.card {
    width: 300px;
    position: relative;
    display: inline-block;
    margin: 2px;
    padding-bottom: 20px;
}
.footer-container {
    max-width: 920px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}


